<ion.side-menu enable-new-with-back-views = 'true'>
	<ion-side-menu-context>
	<ion-nav-bar class = "bar-dark">
		<ion-nav-button side="left">
			<button class="button button-icon button-clear ion-navicon.round" menu-toggle="left">
		</ion-nav-button>
	</ion-nav-bar>
	<ion-nav-view name = "side-menu"></ion-nav-view>
	</ion-side-menu-context>
	<ion-side-menu side="left" id="side-menu">
		<ion-header-bar class="bar-positive">
			<div class="title">Menu</div>
		</ion-header-bar>
		<ion-content>
			<ion-list menu-close>
			<icon-item href="#/menu/page">Inicio</icon-item>
			<icon-item href="#/menu/acerca">Acerca de </icon-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menu>